/* --------- CONFIGURAÇÕES GERAIS --------- */


@charset "UTF-8";

:root {
    --cor_principal: rgb(255, 106, 0);
    --cor_secundaria:#FFF7ED;
    --cor_terciaria: #E5E7EB;
    --cor_quartenaria: #FFEDD5;
    --cor_quinaria: #92400E;
    --cor_senaria: #FFF2DB;
    --cor_septenaria: #FDEDD5;
    --fonte_principal: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    background-color: white;
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte_principal);
}

header {
    background-color: white;
    display: flex;
    font-family: var(--fonte_principal);
    font-size: 8px;
    justify-content: space-between;
    padding: 1.7em 0px 3em 0px;
}

#ftlogo {
    margin: 10px 0px 0px 10px;
} 

#logo {
    display: flex;
    align-items: center;
    color: rgb(255, 106, 0);
    font-size: x-small;
}

header > nav {
    display: none;
}

#linhadenav {
    display: flex;
    align-items: center;
    display: none;
}

#linhadenav > .sublinhado {
    padding: 16px 12px 0px 12px;
    text-decoration: none;
    color: black;
}

#linhadenav > a {
    display: inline;
    float: right;
    cursor: pointer;
}

#linhadenav > a {
    text-decoration: none;
    color: #1F2937;
}

#linhadenav > a:active{
    color: #f97316;
}

#linhadenav > .sublinhado {
    display: inline-block;
    position: relative;
    color: #1F2937;
    cursor: pointer;
    transition: 0.45s all ease;
}

#linhadenav > .sublinhado:hover {
    color: #f97316;
    transition: 0.45s all ease;
}

#linhadenav > .sublinhado::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f97316;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

#linhadenav > .sublinhado:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#fimheader {
    margin: 9px 40px 0px 9px;
    color: white;
    background-color: rgb(255, 106, 0);
    border-radius: 2em;
    border: 8px solid rgb(255, 106, 0);
    font-weight: 390;
}

#fimheader:hover {
    transform: scale(1.1);
    transition: 0.45s ease;
}

#startheader {
    padding: 16px 0px 0px 6px;
}


/* --------- INDEX --------- */


#banner {
    background-color: var(--cor_septenaria);
    font-family: var(--fonte_principal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 36.75rem;
    width: 100vw;
    padding: 2rem 0rem 6.5rem 0rem;
    gap: 2rem;
}

.adotar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    border-radius: 2rem;
    padding: 1rem;
    margin: auto;
    height: 0.7rem;
    font-size: large;
    color: white;
    background-color: var(--cor_principal);
}

.adotar:hover {
    text-decoration: underline;
    transition: 0.5s ease-out;
    transform: scale(1.05);
}

#conteudo {
    text-align: center;
}

#conteudo > p {
    padding: 2rem 0rem 2rem 0rem;
    width: 50vw;
    margin: auto;
}

#conteudo > h2 {
    font-size: xx-large;
}

#ftbanner {
    border-radius: 2em;
    margin-top: 4.6rem;
}

main {
    font-family: var(--fonte_principal);
    text-align: center;
}

#funcionamento {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#encontre > p {
    padding-top: 12px;
    font-size: xx-small;
}


#entrectt > p {
    padding-top: 12px;
    font-size: xx-small;
}


#adocao > p {
    padding-top: 12px;
    font-size: x-small;
}

main > p {
    padding-top: 36px;
    font-size: x-small;
}

main > h3 {
    padding-top: 36px;
}

.pets {
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.233);
    padding-bottom: 1.75rem;
    width: 20rem;
    background-color: white;
}

.pets > h4, p {
    padding: 0px 0px 0px 1em;
}

.icons {
    padding: 0px 6px 0px 0px;
}

.background {
    background-color: #FFEDD5;
    border-radius: 100%;
    border: 1em solid #FFEDD5;
}

#disponiveis {
    padding: 2.5em 0px 4em 0px;
    background-color: var(--cor_terciaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1rem 0rem 2rem 0rem;
}

.justify {
    text-align: justify;
}

#data {
    padding-bottom: 1.5em;
}

.conhecer {
    color: white;
    background-color: #f97316;
    padding: 4px 6.6rem 4px 6.6rem;
    border-radius: 0.3em;
}

.conhecer:hover {
    text-decoration: underline;
}

main > a {
    background-color: white;
    color: #f97316;
    border: 2.6px solid #f97316;
    border-radius: 3em;
    padding: 0.5em 2em 0.5em 2em;
    width: 7em;
    text-decoration: none;
}

main > a:hover {
    text-decoration: underline;
    transition: 0.5s ease-out;
    transform: scale(1.05);
}

#novoamigo {
    background-color: #f97316;
    margin-top: 5em;
    height: 12rem;
    padding-top: 3.75rem;
    width: 100vw;
}

#novoamigo > a {
    text-decoration: none;
    color: #f97316;
    background-color: #F9FAFB;
    padding: 0.9em 2em 0.9em 2em;
    border-radius: 2em;
    font-size: small;
}

#novoamigo > a:hover {
    text-decoration: underline;
    transition: 0.5s ease-out;
    transform: scale(1.05);
}

#novoamigo > h3 {
    color: white;
}

#novoamigo > p {
    padding: 1.3em 0px 2.4em 0px;
    font-size: small;
    color: rgba(255, 255, 255, 0.945);
    font-weight: 100;
}

footer {
    background-color: #1F2937;
    color: rgb(241, 243, 245);
    font-family: var(--fonte_principal);
    text-align: center;
    max-width: 100%;
}

.logorodape {
    padding-right: 6px;
}

.colunasrodape {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 2rem 0rem 2rem 0rem;
    font-size: large;
}

#coluna1, #coluna3 {
    margin-bottom: 4em;
}

#coluna1 {
    width: 10rem;
}

#coluna3 {
    display: flex;
    flex-wrap: nowrap;
}

.colunas {
    display: flex;
    flex-direction: column;
}

.colunas > h3 {
    padding-bottom: 8px;
}

.colunas > p, a {
    color: #9CA3AF;
    text-decoration: none;
}

.colunas > p, a {
    padding: 0px 0px 14px 0px;
}

.colunas > a:hover {
    color: #f97316;
    text-decoration: underline;
}

.colunas > a > img {
    padding-right: 6px;
}

.colunas > p > img {
    padding-right: 6px;
}

#iconesredes {
    display: flex;
    justify-content: center; 
    gap: 12px;
}

#iconesredes > a > img {
    width: 2.25rem;
    height: 2.25rem;
}

#direitos {
    padding-bottom: 2.8em;
}

#regua {
    display: block; 
    padding: 0; 
    margin: 10px auto; 
    width: 86vw; 
    height: 1px; 
    background-color: #9ca3af3d;
}

#direitos > p {
    text-align: center;
    color: #9CA3AF;
    padding-top: 12px;
}

#contribuicao {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-top: 5em;
}

#imagem > img {
    border-radius: 2em;
    text-align: center;
}

#texto {
    font-size: small;
    margin: auto;
    width: 100%;
}

#texto > p {
    color: black;
    padding: 4px 0px 1.5em 0px;
    width: 20rem;
    margin: auto;
}

#texto > h3 {
    padding-bottom: 20px;
}

#boxes {
    padding-bottom: 2em;
}

#boxes, #boxes2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
    border-radius: 2em;
}

#vejamais {
    display: flex;
    justify-content: center;
    gap: 8em;
    padding-bottom: 2em;
    margin-top: 6em;
}

#vejamais > a {
    color: #f97316;
    text-decoration: none;
}

#vejamais > a:hover {
    text-decoration: underline;
}

.boxlink {
    text-decoration: none;
    color: black;
}

.pets2 {
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.233);
    padding-bottom: 1.75em;
    width: 20rem;
    height: 20rem;
}

.pets2 > h6, h5 {
    text-align: left;
    margin-left: 0.7em;
}

.pets2 > p {
    text-align: left;
    font-size: x-small;
    color: #1F2937;
}

.pets2:hover {
    transform: scale(1.05);
    transition: 0.65s ease;
}

#ultimosposts {
    display: flex;
    margin-bottom: 6em;
    flex-direction: column;
    justify-content: center;
}

.auxilio {
    background-color: rgba(79, 79, 255, 0.438);
    width: 4em;
    color: blue;
    border-radius: 2em;
    padding: 0.5em;
    margin: 1em 0em 1em 0em;
}

.nutricao {
    background-color: #FEF3C7;
    width: 4.5em;
    color: #D97706;
    border-radius: 2em;
    padding: 0.5em;
    margin: 1em 0em 1em 0em;
}

#historias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2em;
}

.familia {
    display: flex;
    align-items: center;
    padding-right: 1em;
}

.familia > img {
    border-radius: 3em;
}

.feedback {
    display: flex;
    text-align: start;
    width: 20rem;
    height: 14rem;
    padding: 2rem 1rem 0.5px 1rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.233);
    border-radius: 1em;
}

.avaliacao {
    display: flex;
    flex-flow: row wrap;
}

.avaliacao > h3 {
    padding-left: 0.7em;
}

.avaliacao > p {
    color: #1F2937;
    font-size: normal;
}

.primeiraestrela {
    padding-left: 1em;
}


/* --------- SUPORTE --------- */


#comoajudar {
    background-image: linear-gradient(to right, #FFF7ED, #FFFFFF);
    padding: 80px;
}

#comoajudar > p {
    font-weight: 300;
    color: black;
}

#observacao {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 2rem 0rem;
    gap: 2rem;
}

.obs {
    background-color: var(--cor_secundaria);
    width: 18rem;
    padding: 4rem 1rem 4rem 0rem;
    border-radius: 1rem;
    margin: auto;
}

.obs > img {
    margin-bottom: 0.5rem;
}   

.obs > p {
    font-size: small;
    color: black;
    font-weight: 100;
    padding-top: 0.5rem;
    line-height: 1.25rem;
}

#perguntasfreq {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 2em 0em 2em 0em;
}

.perguntas {
    width: 22rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 1em;
    border-radius: 1em;
    background-color: white;
}

.perguntas > p {
    font-size: small;
    color: black;
    font-weight: 100;
    margin-top: 12px;
}

#perguntaum {
    margin-top: 2em;
}

.subtitulos {
    display: flex;
    justify-content: space-between;
}

#duvidas {
    text-align: justify;
    padding: 2em 0em 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#canais > p {
    font-size: small;
    color: black;
    font-weight: 100;
    width: 300px;
    margin-bottom: 3rem;
}

.meios {
    display: flex;
    align-items: center;
    margin: 1em 0em 1em 0em;
}

.quebradelinha > p {
    font-size: small;
    color: black;
    font-weight: 100;
    width: 300px;
}

#enviodemsg {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    width: 20em;
    padding: 2rem;
    border-radius: 0.7em;
    align-items: center;
}

form > h6 {
    height: 2.5em;
    margin: 8px 0px 0px 0px;
}

form > input, select, textarea {
    width: 20em;
    border-radius: 0.25em;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.308);
}

form > input, select {
    height: 2rem;
}

#iassunto, #imensagem {
    width: 20em;
}

#enviamsg {
    background-color: #f97316;
    border-color: #f97316;
    width: 20em;
    height: 2em;
    color: white;
    font-weight: 100;
    border-radius: 0.25em;
    border: 0;
}

#enviamsg:hover {
    cursor: pointer;
}


/* --------- SOBRE NÓS --------- */


#transformando_vidas {
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    padding-left: 0px;
}

#img_pets {
    border-radius: 1rem;
    width: 20rem;
}

#uma_por_vez > h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: xx-large;
}

#uma_por_vez > p {
    font-size: small;
    width: 20rem;
    margin: auto;
    padding-left: 0px;
}

#nossa_missao > h2 {
    margin: 2rem 0rem 1rem 0rem;
}

#nossa_missao > p {
    line-height: 1.5rem;
    width: 20rem;
    margin: auto;
    padding-left: 0px;
    font-size: small;
}

#como_nasceu {
    line-height: 1.5rem;
    padding-left: 0px;
    margin-left: 0px;
}

#como_nasceu > h2 {
    margin: 1rem 0rem 1rem 0rem;
}

#como_comecou {
    background-color: var(--cor_secundaria);
    padding: 1rem 0rem 1rem 0rem;
    padding-left: 0px;
}

#como_nasceu > p {
    width: 22rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin: auto;
}

#valores {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.estatisticas {
    background-color: white;
    width: 10.5rem;
    padding: 1rem 1rem 1rem 0rem;
    margin: auto;
    border-radius: 1rem;
}

.estatisticas > h2 {
    color: var(--cor_principal);
    padding-left: 1.25rem;
}

#equipe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.pfp {
    border-radius: 5rem;
}

#nossos_valores {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFF7ED;
    padding: 2rem 0rem 2rem 0rem;
    margin: 2rem 0rem 2rem 0rem;
}

.card_valores {
    background-color: white;
    width: 11.065rem;
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 1rem;

}

.card_valores > h4 {
    padding: 0.5rem 0rem 0.5rem 0rem;
}

#cards1, #cards2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


#faca_parte {
    display: flex;
    flex-direction: column;
}

#faca_parte > p {
    width: 23rem;
    margin: auto;
    margin-top: 1rem;
}

#adotar_colaborar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#adotar_pet {
    background-color: var(--cor_principal);
    color: white;
    padding: 1rem;
    border-radius: 3rem;
}

#seja_colaborador {
    color: var(--cor_principal);
    border: 2.25px solid var(--cor_principal);
    padding: 1rem;
    border-radius: 3rem;
}

#adotar_pet:hover, #seja_colaborador:hover {
    text-decoration: underline;
}


/* --------- ADOTE PETS --------- */

#carrossel_galeria {
    display: flex;
    background-color: white;
    width: 87.5vw;
    height: 23rem;
    border-radius: 0.75em;
    align-items: center;
    margin: auto;
    justify-content: center;
}

#thor {
    border-radius: 0.75rem;
    width: 22rem;
    max-width: 90vw;
}

#caracteristicas_pet {
    background-color: white;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 0.75rem;
    width: 87.5vw;
    margin: auto;
    margin-bottom: 1rem;
}

#caracteristicas_pet > div >  h3{
    font-weight: normal;
}

.dados_pet {
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.185);
    padding: 1rem 6rem 1rem 1rem;
    border-radius: 1rem;
    text-align: left;
}

#disponibilidade_local {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

#disponibilidade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor_quartenaria);
    width: 10rem;
    height: 0.25rem;
    border-radius: 2.5rem;
}

#disponibilidade > h3 {
    color: #EA580C;
}

#disponibilidade, #local {
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
}

#disponibilidade > img, #local > img {
    margin-right: 0.5rem;
}

#idade_porte, #sexo_vacina {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0rem 1rem 0rem;
}

#idade_porte > div > h4, #sexo_vacina > div> h4 {
    font-weight: normal;
}

#adotar_contato {
    margin: 2rem 0rem 1rem 0rem;
}

#quero_adotar {
    display: flex;
    color: white;
    font-size: larger;
    background-color: var(--cor_principal);
    width: 16rem;
    border-radius: 0.5rem;
    height: 2rem;
    justify-content: center;
    margin: auto;
    align-items: end;
    margin-bottom: 1rem;
}

#ligar_ong {
    display: flex;
    color: var(--cor_principal);
    font-size: larger;
    background-color: white;
    width: 16rem;
    border-radius: 0.5rem;
    height: 2rem;
    justify-content: center;
    margin: auto;
    align-items: end;
    border: 1px solid var(--cor_principal);
}

#ligar_ong > img {
    margin-right: 0.4rem;
    padding-bottom: 0.15rem;
}

#quero_adotar:hover, #ligar_ong:hover {
    text-decoration: underline;
    transition: 0.5s ease-out;
    transform: scale(1.05);
} 

#sobre_thor {
    text-align: left;
    background-color: white;
    width: 87.5vw;
    padding: 2rem 0rem 2rem 0rem;
    margin: auto;
    border-radius: 0.75rem;
}

#descricao_thor > h3 {
    margin: 0rem 0rem 1rem 1rem;
}

#adjetivos {
    display: flex;
    margin: 1rem 0rem 0rem 1rem;
    gap: 0.5rem;
}

.adjetivo > p {
    background-color: var(--cor_terciaria);
    border-radius: 2rem;
    width: 4.65rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: small;
}

#ong {
    margin: 3rem 0rem 3rem 0rem;
}

#info_ong {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_ong > img {
    border-radius: 2rem;
}

#nome_ong {
    display: flex;
    flex-direction: column;
}

#dados_ong {
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#dados_ong > div > p > img {
    padding-right: 0.25rem;
}

#requisitos {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 16rem;
    margin: auto;
    background-color: var(--cor_quartenaria);
    border: 1px solid var(--cor_principal);
    padding: 1rem 8rem 2rem 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

#requisitos > div > p {
    color: var(--cor_quinaria);
}

#requisitos > div > p > img {
    padding-right: 0.5rem;
}

#localizacao_ong {
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 18rem;
    margin: auto;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.329);
    padding-top: 1rem;
    border-radius: 1rem;
}

#disponiveis_2 {
    padding: 2.5em 0px 4em 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0rem 2rem 0rem;
}


/* --------- SEJA COLABORADOR --------- */

#seja_colaborador_2 {
    background-color: var(--cor_senaria);
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border: 0px;
    color: black;
    gap: 2rem;
    padding: 0rem 0rem 2rem 0rem;
    margin-bottom: 3rem;
}

#seja_colaborador_2 > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    border-radius: 2rem;
    padding: 1rem;
    margin: auto;
    height: 0.7rem;
    font-size: large;
    color: white;
    background-color: var(--cor_principal);
}

#seja_colaborador_2 > div > img {
    border-radius: 2rem;
}

#seja_colaborador_2 > div > a:hover {
    text-decoration: underline;
    transition: 0.5s ease-out;
    transform: scale(1.05);
}

#junte-se > p {
    padding: 2rem 0rem 2rem 0rem;
    width: 64vw;
    margin: auto;
}

#observacao_2 {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 0rem 0rem;
    background-color: var(--cor_secundaria);
}

.numeracao {
    background-color: var(--cor_principal);
    width: 1rem;
    height: 1rem;
    margin: auto;
    padding: 1rem;
    border-radius: 3rem;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.espacamento {
    margin-top: 1rem;
}


/* --------- DETALHES ONG --------- */

#imagens_ong {
    position: relative;
}

#logo_ong {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 3rem;
    width: 5rem; 
    border: 3px solid white;
}

#bio_ong {
    background-color: var(--cor_secundaria);
    padding-top: 4rem;
}

#nome_avaliacao {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 2rem;   
}

#nome_avaliacao > div > p > img {
    margin-right: 0.3rem;
}